http {

  map $http_accept_encoding $customer_accept_encoding {
    "~*gzip" "";
    default $customer_accept_encoding
  }

  map $http_host $env {
      default production;
      example.com development;
  }

  map $env $customer_env_accept_encoding {
      development $http_accept_encoding;
      default $customer_accept_encoding
    }

    server {
        listen 80;

        location / {
          proxy_set_header Accept-Encoding $customer_env_accept_encoding;
        }

        # 其他的 Nginx 配置项
      }
}
